.button {
    padding: 10px 40px;
    border-radius: 20px;
    &-text {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    cursor: pointer;
}
