.book {
    transition: transform 0.3s linear;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);

    }
    &-image {
        width: 240px;
        height: 290px;
        object-fit: cover;
        border-radius: 4px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    }

}