.page {
    padding: 0 360px;
    &-content {
        display: flex;
        background-color: white;
        justify-content: space-evenly;
        color: blue;
    }

    &-item {
        border-right: 1px solid gray;
        padding: 0 15px;
        &:hover {
            background-color: rgb(241, 234, 234);
        }
    }
    &-previous {
        border-right: 1px solid gray;
    }
    &-active {
        color: white;
        background-color: blue;
    }
}
