.start {
    &-title {
        color: white;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin: 10px 0;
    }
    &-logo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid orange;
        box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
        margin: 50px auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-box {
        margin: 20px 0;
    }
    &-comment {
        color: white;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        padding: 15px 0;
    }
    &-author {
        color: #ffddc0;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        display: block;
        padding: 10px 0;
    }
    &-content {
        color: white;
        margin: 30px 50px;
        line-height: 1.6;
    }
}
